.content {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #1678c8;
}
*{
  text-align: center;
  margin: auto;
  vertical-align: middle;
}
h2 {
  margin-top: 0;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.liItem {
  margin-right: 5px;
}

.checkbox-label {
  margin-left: 10px;
}

.select-option {
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-top: 10px;
}

input[type="button"] {
  margin-left: 10px;
  margin-top: 10px;
}

.title {
  font-weight: bold;
}

